.projects{
    min-height: 100vh; 
    background-image: url(../../media/library.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    /* overflow-y: scroll; */
    
}