
.about{
   min-height: 100vh;
   /* margin-top: 10px; */
    background-color: #2f384f; 
    color: #f4f4f4;

}

.aboutBtn {
    background-color: #f4f4f4;
    color: #2f384f;
    font-weight: bold;
}

.bioPic {
    border-radius: 10px;
    width: 50%;
    margin-top: 4.5rem;
    padding: 1rem;
}


