.RightSide-View {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .rightSide-btn 
   {
      position: absolute;
       z-index: 1;
       bottom: 10%;
       left:55%;
       padding: 10px;
       margin: 10px;
       
   }