.RightSide-View {
    min-height: 100vh;
 background-color: #365fc9; 
 color: #f4f4f4;
 }

 .rightSide-btn 
   {
      position: absolute;
       z-index: 1;
       bottom: 10%;
       left:55%;
       padding: 10px;
       margin: 10px;
       
   }