.LeftSide-View {
   /* min-height: 100vh; */
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;

}

.leftSide-btn 
   {
      position: absolute;
       z-index: 1;
       bottom: 10%;
       left: 5%;
        
   }




