.card .cardInfo,
.card .cardHeader {
     color: #2f384f;
     background-color: #f4f4f4;
     
     
} 

.card .cardHeader {
    font-weight: bolder;
}
.card{
    position: relative;
    margin: 20px auto;   
}

.cardImg {
    height: 200px;
}

.cardInfo {
 height: 225px;
}

.card:hover {
    opacity: 0.35;
}